# Editor settings
.vscode/
.idea/
*.swp

# Binaries
/server
/justbackup
/main
cmd/server/__debug_bin*

# Environment and Secrets
/.env
secrets/

# Dependencies
/e2e/node_modules/
/web/node_modules/
/web/.next/

# Testing
/e2e/playwright/
/fixtures/source/
/fixtures/destination/
/fixtures/decrypted/
/e2e/test-results/