# Copy this file to .env and fill in the values

# SERVER
ENCRYPTION_KEY=1234abcdefghi12341d2v2e31q3d5132

# WORKER
WORKER_INSTANCES=2
WORKER_UID=1000
WORKER_GID=1000

## Environment
## if not "dev" is especified, it will be production
## dev is for development, using in-memory repositories
ENVIRONMENT=prod # if not dev always production

# Backup root folder
BACKUP_ROOT=/mnt/backups

## Database
DB_HOST=db
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=justbackup
DB_PORT=5432

## CORS
CORS_ALLOWED_ORIGIN=http://localhost:3000

## Security
JWT_SECRET=super-secret-key-change-me

# Traefik (Optional)
APP_DOMAIN=justbackup.example.com
ACME_EMAIL=admin@example.com

# WEB
APP_URL=http://server:8080
# Optional: internal URL used by Next.js rewrites to avoid TLS issues with public host
BACKEND_INTERNAL_URL=http://server:8080
NEXT_PUBLIC_WS_URL=ws://server:8080/api/v1/ws

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

